<div class="col-lg-4 col-lg-offset-4">
    <div style="display: none" class="alert alert-success">
        <p class="text-center">Success!</p>
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="col-md-12 col-lg-4 col-lg-offset-2">
        <div class="panel panel-default bootcards-summary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i> Users</h3>
            </div>
            <div class="panel-body">
                {{#each users}}
                <form>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="form-control"><i class="fa fa-user"></i> {{titleize this.common.name}}</label>
                        </div>
                        <div class="col-12">
                            <button type="button" value="{{this._id}}" class="btn btn-danger btn-sm user-delete pull-right">Delete User</button>
                        </div>
                    </div>
                    </form>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="panel panel-default bootcards-summary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-lock"></i> Add Local User</h3>
            </div>
            <div class="panel-body">
                <form id="new-user">
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="text" name="username" placeholder="Username..." required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="password" name="password" placeholder="password..." required="">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <div class="form-group row">
                        <div class="col-12">
                            <button id="create-btn" type="button" class="btn btn-success btn-sm pull-right">Create User</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/post_controller.js"></script>