<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
    <form style="margin-bottom: 1%" class="form-inline">
        <div class="score-board form-group col-sm-1">
            <label name="game_name" type="text">Rank</label>
        </div>
        <div class="score-board form-group col-sm-5">
            <label name="game_name" type="text">Name</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_time" type="text">Score (seconds)</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_time" type="text">Time of Day</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_date" type="text">Date</label>
        </div>
    </form>
    {{#each score}}
    <form style="margin-bottom: 0.2%" class="form-inline score-row">
        <div class="score-board form-group col-sm-1">
            <label name="game_name" type="text">{{add 1 @index}}</label>
        </div>
        <div class="score-board form-group col-sm-5">
            <label name="game_name" type="text">{{this.name}}</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_time" type="text">{{this.time}}</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_time" type="text">{{formatDate this.date "%H:%M:%S"}}</label>
        </div>
        <div class="score-board form-group col-sm-2">
            <label name="game_date" type="text">{{formatDate this.date "%d/%m/%Y"}}</label>
        </div>
    </form>
    {{/each}}
</div>

<script>
    $(document).ready(function () {
        var forms = $('.form-inline');
        for (var i = 1; i < forms.length; i++) {
            if (i % 2 == 0) {
                $(forms[i]).addClass("row-offset");
            }
        }
    });

</script>