<nav class="navbar navbar-toggleable-sm container-fluid nav-bg navbar-fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="/">GRAVITY WARP</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/scoreboard"><i class="fa fa-clock-o" aria-hidden="true"></i> SCOREBOARD</a>
                </li>
                {{#if login}}
                <li class="nav-item">
                    <a class="nav-link" href="/feedback"><i class="fa fa-commenting" aria-hidden="true"></i> FEEDBACK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games"><i class="fa fa-list" aria-hidden="true"></i> GAMES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/settings"><i class="fa fa-cogs" aria-hidden="true"></i> SETTINGS</a>
                </li>
                {{/if}}
            </ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/user/settings" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>{{#if login}}{{user.common.name}}{{else}} User {{/if}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{# if login }}
                    <a class="dropdown-item" href="/logout"> Logout</a> {{ else }}
                    <a class="dropdown-item" href="/user/signin"><i class="fa fa-unlock"></i> Sign in</a> {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        var name = $('#navbarDropdownMenuLink').text().trim();
        name = name.toUpperCase();
        $('#navbarDropdownMenuLink').html('<i class="fa fa-user" aria-hidden="true"></i> ' + name);
    });
</script>