<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default bootcards-summary text-center">
        <div class="panel-body">
            <form style="display: none" class="forms">
                <h3> Start of list</h3>
                <button type="button" class="to-dashboard btn btn-success btn-sm"> Return to dashboard</button>
                <button type="button" class="next-form btn btn-success btn-sm">Next Form</button>
            </form>
            {{#each form}}
            <form style="display: none" class="forms">
                <button type="button" class="prev-form btn btn-success btn-sm">Previous Form</button>
                <div class="form-group row">
                    <div class="col-12">
                        <h3>version: {{this.version}}</h3>
                        <button type="button" class="delete-form btn btn-danger btn-sm" value="{{this.id}}">Delete Form</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="art"> Were the controls easy to use? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[0]}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="art"> What do you think about the art style? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[1]}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="layout"> How about the level layout? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[2]}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sounds"> Were the sound effects ok? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[3]}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flow"> Does the game flow; movement or in general? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[4]}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flow"> Did you encounter any game breaking bugs? </label>
                    <div class="col-12">
                        <input class="form-control" type="textarea" value="{{this.answers.[5]}}" readonly>
                    </div>
                </div>
                <button type="button" class="next-form btn btn-success btn-sm">Next Form</button>
            </form>
            {{/each}}
            <form style="display: none" class="forms">
                <h3> End of list</h3>
                <button type="button" class="prev-form btn btn-success btn-sm">Previous Form</button>
                <button type="button" class="to-dashboard btn btn-success btn-sm">Return to dashboard</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var forms = $('.forms');
        var next = $('.next-form');
        var previous = $('.prev-form');
        var del = $('.delete-form');

        forms.eq(1).show();

        next.on('click', function () {
            $(this).parent().slideToggle();
            $(this).parent().next().slideToggle();
        });

        previous.on('click', function () {
            $(this).parent().slideToggle();
            $(this).parent().prev().slideToggle();
        });

        del.on('click', function () {
            var id = $(this).val();
            var par = $(this).parents().eq(2);
            var next = par.next();
            $.post("/form/delete/" + id, function (data) {
                if (data === "OK") {
                    par.slideUp(function() {
                        par.remove();
                        next.slideToggle();
                    });
                }
            });
        });

        $('.to-dashboard').on('click', function () {
            window.location.replace('/dashboard');
        });

    });
</script>