<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default bootcards-summary text-center">
        <div class="panel-body">
            <form id="survey">
                <div class="form-group row">
                    <label for="art"> Were the controls easy to use? </label> 
                    <div class="col-12">
                        <input class="form-control" autofocus type="textarea" name="controls" placeholder="The controls were...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="art"> What do you think about the art style? </label> 
                    <div class="col-12">
                        <input class="form-control" type="textarea" name="art" placeholder="The art style is...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="layout"> How about the level layout? </label> 
                    <div class="col-12">
                        <input class="form-control" type="textarea" name="layout" placeholder="The layout is...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sounds"> Were the sound effects ok? </label> 
                    <div class="col-12">
                        <input class="form-control" type="textarea" name="sound" placeholder="The sound effects are...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flow"> Does the game flow; movement or in general? </label> 
                    <div class="col-12">
                        <input class="form-control" type="textarea" name="flow" placeholder="The flow...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="flow"> Did you encounter any game breaking bugs? </label> 
                    <div class="col-12">
                        <input class="form-control" type="textarea" name="bugs" placeholder="The flow...">
                    </div>
                </div>
            </form>
            <div class="game-title thanks" style="display: none; margin-top: 6%; margin-bottom: 6%"> Thanks for the feedback!</div>
            <button id="post-form" class="btn btn-success" value="{{title}}">Submit feedback</button>
            <a id="to-dashboard" style="display: none" href="/dashboard" class="btn btn-success btn-sm">Go to dashboard</a>
            <a id="to-game" style="display: none" href="/game/{{title}}" class="btn btn-success btn-sm">Back to game</a>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    'use strict';

    var survey = $('#survey');
    var thanks = $('.thanks');
    var dash = $('#to-dashboard');
    var game = $('#to-game');

    $('#post-form').on('click', function() {
        survey.slideUp();
        thanks.slideDown(function() {
            $.post("/form/post/" + $('#post-form').val(), survey.serialize()).done(function(data) {
            setTimeout(function() {
                window.location.replace('/dashboard');
            }, 5000);
        });

        });
        $(this).hide();
        dash.slideDown();
        game.slideDown();
    });
});
</script>