<div class="text-center">
    {{#each game}}
    <a class="preview" href="/game/{{this.version}}"><img src="/img/levelone.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/intro.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/leveltwo.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/levelthree.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/glue.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/levelseven.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/levelseven02.png" alt="level_one"></a>
    <a class="preview" href="/game/{{this.version}}"><img src="/img/end.png" alt="level_one"></a>
    {{/each}}
</div>

<script>
    var x = document.getElementsByClassName("preview");
    for (i = 0; i < x.length; i++) {
        $(x[i]).hide();
    }

    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("preview");
        for (i = 0; i < x.length; i++) {
            $(x[i]).slideUp(1000);
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        $(x[slideIndex - 1]).slideDown(1000);

        setTimeout(carousel, 10000); // Change image every 2 seconds
    }

</script>