body {
    padding-top: 0px;
    font: 16px 'Raleway', sans-serif;
    color: #0ef;
    background-image: url("/img/dunes.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand,
.navbar-toggler {
    color: #0ef;
    font-size: 26px;
}

.navbar-nav .nav-link {
    color: #0ef;
}

.nav-bg {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
}

.game-title,
.game-description {
    text-shadow: 2px 2px 4px #111;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover {
    color: #fff;
}

.game-title {
    font-size: 2.5em;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

#canvas {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 100px 100px 200px #000, -100px -100px 200px #000;
}

.width {
    width: 100%;
}

.panel-title {
    font-weight: 700;
}

.preview>img {
    width: 80%;
}

.score-row {
    font-family: 'Open Sans';
    background-color: rgba(0, 200, 255, 0.8);
    font-size: 15px;
    font-weight: normal;
    padding: 0.5%;
    border-radius: 4px;
}

.score-board {
    color: #fff;
}

.row-offset {
    background-color: rgba(0, 200, 255, 0.5);
}