<div class="col-sm-12 col-md-4 col-md-offset-4">
    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-unlock-alt"></i> Sign In</h3>
        </div>
        <div class="panel-body">

            {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}

            <form action="/user/signin" method="POST">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username..." required="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" id="password" name="password" placeholder="password..." required="" class="form-control">
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="form-group row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-success pull-right">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>