<div class="bg-image">

</div>
<div id="game-panel" class="col-sm-8 col-sm-offset-2">
    <div class="template-wrap clear">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
        <br>
        <div class="logo"></div>
        <div class="fullscreen pull-right" style="margin-top: 2%;"><img src="../TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);"
            /></div>
        <div class="game-title" style="margin-top: 1%;">{{titleize game.version}}</div>
        <p class="game-description" style="margin-top: 1%;">{{game.description}}</p>
        <!-- <a href="/form/{{game.version}}" style="color:white" class="btn btn-success">Mind telling us what you think?</button></a> -->
    </div>
</div>

<img id="loader" style="position: absolute; top: 45%; left: 46%; width: 8%;" src="/img/loading.gif" alt="loading"></img>

<script type='text/javascript'>
    var Module = {
        TOTAL_MEMORY: 268435456,
        errorhandler: null, // arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
        compatibilitycheck: function () {
            setTimeout(function () {
                document.getElementById("loader").hidden = true;
                $(".bg-image").fadeIn(300);
            }, 3000);
        },
        backgroundColor: "#222C36",
        splashStyle: "Light",
        dataUrl: "Release/build.data",
        codeUrl: "Release/build.js",
        asmUrl: "Release/build.asm.js",
        memUrl: "Release/build.mem",
    };

</script>

<script src="Release/UnityLoader.js"></script>

<script>
    $(document).ready(function () {
        $(".bg-image").hide();
        var canvas = $('#canvas');
        var wWidth = $('#game-panel').width();
        canvas.width(wWidth).height(wWidth * 0.535);
    });

</script>

<script>
    function post(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.send();
    }

    function PostScore(name, time) {
        post("http://gravitywarp.ddns.net:3000/scoreboard/post/" + name + '/' + time);
    }

    function LoadScoreboard() {
        window.open("http://gravitywarp.ddns.net:3000/scoreboard", "blank");
    }

</script>