<div class="col-lg-4 col-lg-offset-4">
    <div style="display: none" class="alert alert-success">
        <p class="text-center">Success!</p>
    </div>
</div>

<div class="col-md-12 col-md-offset-0 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-gamepad"></i> Add/Remove Games</h4>
        </div>
        <div class="panel-body">
            <label style="margin-top: 0.5%">Version</label>

            {{#each game}}
            <form style="margin-bottom: 0.5%" class="form-inline">
                <div class="form-group col-sm-3">
                    <input style="width: 100%" name="game_version" value="{{this.version}}" class="form-control" required="" placeholder="public/game/<game folder>" type="text">
                </div>
                <div class="form-group col-sm-7">
                    <input style="width: 100%" name="game_description" value="{{this.description}}" class="form-control" placeholder="Build details..." type="text">
                </div>
                <div class="form-group col-sm-2">
                    <div class="btn-group">
                        <button class="btn btn-danger btn-sm game_delete" value="{{this._id}}"><i class="fa fa-trash"></i> Delete</button>
                        <button class="btn btn-success btn-sm game_update" value="{{this._id}}"><i class="fa fa-check"></i> Update</button>
                    </div>
                    <i style="display: none" class="fa fa-check-circle-o"></i>
                </div>
            </form>
            {{/each}}

            <label style="margin-top: 1.5%">New Version</label>
            <form class="form-inline" id="new-game">
                <div class="form-group col-sm-3">
                    <input style="width: 100%" name="game_version" autofocus class="form-control" required="" placeholder="public/game/<game folder>" type="text">
                </div>
                <div class="form-group col-sm-7">
                    <input style="width: 100%" name="game_description" class="form-control" placeholder="Build details..." type="text">
                </div>
                <div class="form-group col-sm-2">
                    <button class="btn btn-success btn-sm" id="game_save"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/post_controller.js"></script>